<!DOCTYPE html>
<html>
<body>
	
<h1>Django Society 2021</h1>

<p>Django Society is comprised of 1 teacher Jay and 7 Students: Abhi, Bhkati, Kevin, Jonny, MinJae, Rajib, Wei. I hope everyone enjoyes the Django Society and feel free to share your knowledge!</p>


<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9XeELcp51xMR6GcbG86ssM_CLpG0QqiN9dw&usqp=CAU" alt="django">


<br>
<br>

<a href="http://localhost:8000/society/group/">
	<button class="btn success">Group</button>
</a>

<a href="http://localhost:8000/society/event/">
	<button class="btn info">Event</button>
</a>

<a href="http://localhost:8000/society/people/">
	<button class="btn warning">People</button>
</a>

<br>
<br>

<a href="http://localhost:8000/society/signup/">
	<button class="btn warning">Sign Up</button>
</a>


</body>
</html>